html{
  scroll-behavior: smooth;
}

h1{
  font-size: 55px;
  text-align: center;
  line-height: 1;
  padding: 10px 0;

}

h2{
  font-size: 40px;
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
  line-height: 1.5;
}


body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: lightslategray;
  font-size: 18px;
  line-height: 1.15;
  margin: 0;
  padding: 0;
}


.F1 p{
  color: black;
  font-size: 24px;
  padding: 0 100px;
  text-align: center;

}

nav li{
  display:inline;
  padding-right:20px;
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

header {
  text-align: left;
}

nav a{
  color: black;
  font-weight: bold;
  text-decoration: none; 
}

nav{
  background-color:lightslategray;
  padding: 30px 0; 
  text-align: left;


}

footer{
  padding: 30px 0;
  color: black;
  text-align: right;
}

a:focus, a:hover {
    text-decoration: underline;
  }

.skip a{
    position: absolute;
    background: white;
    top: -40px;
   
   
  }

.skip a:focus, .skip:active{
    position: absolute;
    top: 20px;
    border: black 2px solid;
    z-index: 1;
}



.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px black;
  
}

#logo{
  width: 60%;
  animation: animate 5s 1;
}

@keyframes animate{
  from{
    width: 45%;
    opacity: 0;
  }
  to{
    width: 60%;
    opacity: 1;
  }
}


.leftham{
  width: 35%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  padding: 10px;
}

.leftmel{
  width: 35%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  padding: 10px;

}

.text-block > p{
  color: black;
  font-size: 24px;
  padding: 0 100px;
  text-align: center;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px lightcoral;


}

.text-block1 > p{
  color: black;
  font-size: 24px;
  padding: 0 100px;
  text-align: center;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px lightcoral

}

.text-block2 > p{
  color: black;
  font-size: 24px;
  padding: 0 100px;
  text-align: center;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px lightcoral;

}


.gridcontainer1 p{
  color: black;
  font-size: 24px;
  padding: 0 100px;
  text-align: center;
  border: 1px solid;
  padding: 10px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
}

.gallery > img{
  margin-left: auto;
  margin-right: auto;
  border: 3px solid white;
}

.gallery > img:hover, *:focus{
  box-shadow: 5px 10px black;
}
  
.current {
  text-transform: uppercase;
}

.gallery1{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.gallery1 img{
  flex-basis: 350px;
  object-fit: cover;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 3px black solid;
  border-radius: 5px;
}


@media screen and (prefers-reduced-motion: reduce){
  #logo{
      animation: none;
  }
}

@media screen and (min-width: 600px) {
  body{
    background-color: lightseagreen;
  }

  header {
    text-align: center;
  }

  nav {
    background-color:lightseagreen;
    text-align: center;

  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
  }
  
  .gallery > img{
    margin-left: auto;
    margin-right: auto;
    border: 3px solid  white;
  }

  .gallery > img:nth-child(9){
    display: none;
     /* visibility: hidden; */
  }

  .gallery > img:hover, *:focus{
    box-shadow: 5px 10px black;
  }

  .gallery1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  
  .gallery1 img{
    flex-basis: 350px;
    object-fit: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 10px black solid;
    border-radius: 5px;
  }

}



@media screen and (min-width: 1000px) {
  body{
    background-color: #ECE4E2;
  }

  header {
    text-align: right;
  }

  nav{
  background-color: #ECE4E2;
  text-align: right;

 }

 .gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.gallery > img{
  margin-left: auto;
  margin-right: auto;
  border: 3px solid  white;
}

.gallery > img:hover, *:focus{
  box-shadow: 5px 10px black;
}
 
.gallery1{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.gallery1 img{
  flex-basis: 350px;
  object-fit: cover;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 1px black solid;
  box-shadow: 5px 10px black;
  border-radius: 5px;
}

.gallery > img:nth-child(9){
  /* visibility: visible; */
  display: block;
}


}
  



